{% extends "::base.html.twig"%}

{% block body %}
  <body background="{{ asset('bundles/framework/images/pizarra2.jpg') }}" class="mifondo">
  <form>
    <script>
    (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
    })(window, document, '_gscq','script','//widgets.getsitecontrol.com/64256/script.js');
</script>
    <div class="form-group, col-xs-4, col-sm-12" style="padding-top:10%; text-align:center">
      <div class="form-group, col-xs-6, col-sm-10, col-lg-10" style="padding-left:28%">
        <div class="col-xs-9">
        <input type="text" class="form-control" name="nombre" placeholder="Nombre" style="text-align:center">
        </div>
      </div>
      <div class="form-group, col-xs-8, col-sm-10, col-lg-10" style="margin-top:7px;padding-left:28%">
        <div class="col-xs-9">
          <input type="password" class="form-control" name="password" placeholder="Contraseña" style="text-align:center">
        </div>
      </div>
    </div>
     <div class="col-xs-9" style="padding-left:15%">
        <div style="padding-left:43%">
          <INPUT class="btn btn-default" style="margin-top:10px; margin-left:10px" type="submit" value="ENTRAR" name="entrar">
          <INPUT class="btn btn-default" style="margin-top:10px" type="submit" value="REGISTRAR" name="registrar">
        </div>
      </div>
    </form>
    </body>
{% endblock %}