      <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading" style="text-align: center; font-weight: bold"><a href="/gestor/web/app_dev.php/editarAgua"><img src="{{asset('images/gota2.png')}}" alt="agua"></a>
        </div>
        <!-- Table -->
        <table id="tablaAgua" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
           <tr>
            {% for campo in cabeceras %}
              <th>{{campo}}</th>
            {% endfor %} 
          </tr>
        </thead>
        <tbody>
          {% for gasto in filas %}
            <tr>
              {% for campo in gasto %}

                {% if gasto.importe > 250 %}
                  
                  <td style="color:red">
                    {{campo}}
                  </td>

                {% else %}

                  <td>
                    {{campo}}
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>