      <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading" 
             style="text-align: center; font-weight: bold">
            <h4 style="background-color:white;border-radius:15px;width:150px">
              <img src="{{asset('images/servicios2.png')}}" alt="Proveedores" style="width:18px">
              Proveedores 
            </h4> 
        </div>
        <!-- Table -->
        <!-- Table -->
        <table id="tablaProveedores" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
           <tr>
            {% for campo in cabeceras %}
              <th>{{campo}}</th>
            {% endfor %} 
          </tr>
        </thead>
        <tbody>
          {% for gasto in filas %}
            <tr>
              {% for campo in gasto %}
                {% if gasto.importe > 370 %}
                  <td style="color:red">
                    {{campo}}
                  </td>
                {% else %}
                  <td>
                    {{campo}}
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>