{% extends "::base.html.twig"%}
{% block contenido%}
<body background="{{ asset('images/triangleDown.jpg') }}" class="mifondo">
  <form method="POST">
    <row class="col-xs-12">
      {% include 'FrontEndBundle:Widgets:WidgetTableAgua.html.twig' with {
        'cabeceras': datos.tablaAgua.cabeceras,
        'filas': datos.tablaAgua.filas} %}
    <div class="col-xs-6" style="margin-left:25%; margin-top:5%">
      {% include 'FrontEndBundle:Widgets:WidgetGastoEnCursoAgua.html.twig' with {
        'gastoEnCurso': datos.gastoAgua.valor} %}
    </div>
  </row>
</form>
<script type="text/javascript">
  $(document).ready(function(){
    $('#tablaAgua').DataTable({
      "language": {
        "url" : "{{asset('js/DataTableSpanish.json')}}"
      }
    });
  });
</script>
</body>
{% endblock %}  

