{% extends "::base.html.twig"%}
{% block contenido%}
<body background="{{ asset('images/triangleDown.jpg') }}" class="mifondo">
  <form method="POST">
    <row class="col-xs-12">
      {% include 'FrontEndBundle:Widgets:WidgetTableClientes.html.twig' with {
        'cabeceras': datos.clienteTabla.cabeceras,
        'filas': datos.clienteTabla.filas} %}
    <div class="col-xs-6">
      {% include 'FrontEndBundle:Widgets:WidgetNuevosClientes.html.twig' with {
        'nuevosClientes': datos.nuevos} %}
    </div>
    <div class="col-xs-6">
      {% include 'FrontEndBundle:Widgets:WidgetBajaClientes.html.twig' with {
        'bajaClientes': datos.bajas} %}
    </div>
  </row>
</form>
<script type="text/javascript">
  $(document).ready(function(){
    $('#tablaClientes').DataTable({
      "language": {
        "url" : "{{ asset('js/DataTableSpanish.json') }}"
      }
    });
  });
</script>
</body>
{% endblock %}  

