{% extends "::base.html.twig"%}
{% block contenido%}
<body background="{{ asset('images/triangleDown.jpg') }}" class="mifondo">
<form method="POST">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/gestor/web/app_dev.php/principal">GtrGYM</a>
    </div>
   <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><img src="{{asset('images/usuario1.png')}}" alt="yo!" style="padding:7px" class="rounded-circle"/></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
 </nav>
<row class="col-xs-12" style="text-align:center">
  <div class="form-group, col-xs-4, col-sm-12" style="padding-top:; text-align:center">
      <div class="form-group, col-xs-6, col-sm-10, col-lg-10" style="padding-left:28%">
        <div class="col-xs-9">
          <h3>NOMBRE</h3>
        <input type="text" class="form-control" name="nomEmpleado" placeholder="Nombre" style="text-align:center">
        </div>
      </div>
      <div class="form-group, col-xs-8, col-sm-10, col-lg-10" style="margin-top:10px;padding-left:28%">
        <div class="col-xs-9">
          <h3>APELLIDOS</h3>
          <input type="text" class="form-control" name="apeEmpleado" placeholder="Apellidos" style="text-align:center">
        </div>
      </div>
      <div class="form-group, col-xs-6, col-sm-10, col-lg-10" style="padding-left:28%; padding-top:10px">
        <div class="col-xs-9">
          <h3>TELÉFONO</h3>
        <input type="text" class="form-control" name="telefono" placeholder="Teléfono" style="text-align:center">
        </div>
      </div>
      <div class="form-group, col-xs-8, col-sm-10, col-lg-10" style="margin-top:10px;padding-left:28%">
        <div class="col-xs-9">
          <h3>DIRECCIÓN</h3>
          <input type="text" class="form-control" name="direccion" placeholder="Dirección" style="text-align:center">
        </div>
      </div>
      <div class="form-group, col-xs-6, col-sm-10, col-lg-10" style="padding-left:28%; padding-top:10px">
        <div class="col-xs-9">
          <h3>DNI</h3>
        <input type="text" class="form-control" name="dni" placeholder="Nº DNI" style="text-align:center">
        </div>
      </div>
    </div>
    <div class="col-xs-3" style="margin-left:34%">
     <div class="btn-group btn-group-justified" role="group" aria-label="..." style="padding-top:30px">
        <div class="btn-group" role="group" style="padding-left:13%">
          <INPUT class="btn btn-default" style="margin-top:10px" type="submit" value="ACEPTAR" name="entrar">
        </div>
     </div>
    </div>
</row>
</form>
</body>
{% endblock %}  