{% extends "::base.html.twig"%}
{% block contenido%}
<body background="{{ asset('images/triangleDown.jpg') }}" class="mifondo">
	<form method="POST">
    <row class="col-xs-12">
      {% include 'FrontEndBundle:Widgets:WidgetTableEmpleados.html.twig' with {
        'cabeceras': datos.tablaEmpleados.cabeceras,
        'filas': datos.tablaEmpleados.filas} %}
    <div class="col-xs-4">
      {% include 'FrontEndBundle:Widgets:WidgetBajaEmpleados.html.twig' with {
        'baja': datos.bajaEmpleados.valor} %}
    </div>
    <div class="col-xs-4">
      {% include 'FrontEndBundle:Widgets:WidgetActivoEmpleados.html.twig' with {
        'activo': datos.altaEmpleados.valor} %}
    </div>
    <div class="col-xs-4">
      {% include 'FrontEndBundle:Widgets:WidgetVacacionesEmpleados.html.twig' with {
        'vacaciones': datos.vacacionesEmpleados.valor} %}
    </div>
  </row>
</form>
<script type="text/javascript">
  $(document).ready(function(){
    $('#tablaEmpleados').DataTable({
      "language": {
        "url" : "{{asset('js/DataTableSpanish.json')}}"
      }
    });
  });
</script>
{% endblock %}