{% extends "::base.html.twig"%}
{% block contenido%}
<body background="{{ asset('images/triangleDown.jpg') }}" class="mifondo">
  <form  method="POST">
    <row class="col-xs-12">
      {% include 'FrontEndBundle:Widgets:WidgetTableHorario.html.twig' with {
        'cabeceras': datos.horarioTabla.cabeceras,
        'filas': datos.horarioTabla.filas} %}
  </row>
</form>
<script type="text/javascript">
  $(document).ready(function(){
    $('#tablaClase').DataTable({
      "language": {
        "url" : "{{asset('js/DataTableSpanish.json')}}"
      }
    });
  });
</script>
</body>
{% endblock %}  

