{% extends "::base.html.twig"%}
{% block contenido%}
<body background="{{ asset('images/triangleDown.jpg') }}" class="mifondo">
  <form method="POST">
    <row class="col-xs-12" style="text-align:center">
       {% include 'FrontEndBundle:Widgets:WidgetTablaPerfil.html.twig' with {
        'resultado': datos.tabla} %}
      <div class="col-xs-3" style="margin-left:37%; padding-top:2%">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button id="editar" type="button" class="btn btn-default" style ="color:black; font-weight: bold">EDITAR</button>
          </div>
        </div>
      </div>
      <div class="col-xs-3" style="margin-left:37%; padding-top:2%">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div  id="editarPerfil" style="display: none;">
            <button type="submit" class="btn btn-default" style ="color:black; font-weight: bold">GUARDAR</button>
          </div>
        </div>
      </div>
    </row>
  </form>
</body>
{% endblock %}  

