{% extends "::base.html.twig"%}
{% block contenido%}
<body background="{{ asset('images/triangleDown.jpg') }}" class="mifondo">
  <form method="POST">
  <row>
    <div class="col-xs-6">
      {% include 'FrontEndBundle:Widgets:WidgetTablesPrincipal.html.twig' with {
      'empleados': datos.resultadoEmpleado,
      'clientes': datos.resultadoCliente,
      'clases': datos.resultadoClase} %}
    </div>
    <div class="col-xs-6" style="padding-top:40px">
      {% include 'FrontEndBundle:Widgets:WidgetStatsPrincipal.html.twig' with {
      'resultado': datos.resultadoTotal,
      'nuevosClientes': datos.nuevosClientes} %}
    </div>
  </row>
  <row>
    <div class="col-xs-6" style="padding-top:3%">
      {% include 'FrontEndBundle:Widgets:WidgetGastosInesperadosPrincipal.html.twig' with {
      'luz': datos.gastosInesperados.luz,
      'proveedor': datos.gastosInesperados.proveedor,
      'agua': datos.gastosInesperados.agua} %}
    </div>
    <div class="col-xs-6" style="padding-top:3%">
      {% include 'FrontEndBundle:Widgets:WidgetGraficaPrincipal.html.twig' with {
      'grafica': datos} %}
    </div>
  </row>
</form>
<script type="text/javascript">
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var datos = {{datos.grafica|json_encode|raw}}

    var grafico = google.visualization.arrayToDataTable(datos);

    var options = {
      chart: {
      },
      bars: 'vertical',
      vAxis: {format: 'decimal'},
      height: 250,
      colors: ['#FF0000', '#0000FF']
    };

    var chart = new google.charts.Bar(document.getElementById('chart_div'));

    chart.draw(grafico, google.charts.Bar.convertOptions(options));

  }
</script>
</body>
{% endblock %}  

